.titlestyle65492{ line-height: 40px; height: 40px; color: #fff; font-size: 18px; overflow: hidden; text-decoration: none ;}
.summarystyle65492{ line-height: 150%; color: #222222; font-size: 9pt ;}
.timestyle65351{ color: #a6a6a6; font-size: 12px ;}
.leaderfont65351{ font-size: 9pt; line-height: 160%; font-family: 宋体 ;}
.morestyle65351{ font-size: 9pt; color: #222222; font-family: 宋体 ;}
.newstitlestyle65351{ line-height: 38px; width: 400px; height: 38px; color: #282525; font-size: 14px; overflow: hidden ;}
.contentstyle65351{ font-family: 宋体; color: #222222; font-size: 9pt ;}
.tdunderlinestyle65351{ border-bottom: #dddbd9 1px solid ;}
.winstyle65351{ width: 400px;}
.timestyle65350{ color: #a6a6a6; font-size: 12px ;}
.leaderfont65350{ font-size: 9pt; line-height: 160%; font-family: 宋体 ;}
.morestyle65350{ font-size: 9pt; color: #222222; font-family: 宋体 ;}
.newstitlestyle65350{ line-height: 38px; width: 400px; height: 38px; color: #282525; font-size: 14px; overflow: hidden ;}
.contentstyle65350{ font-family: 宋体; color: #222222; font-size: 9pt ;}
.tdunderlinestyle65350{ border-bottom: #dddbd9 1px solid ;}
.winstyle65350{ width: 400px;}
.etextstyle64997{ color: #e3dfd5; font-size: 14px ;}
.fontstyle64997{ color: #e3dfd5; font-size: 14px ;}
.btextstyle64997{ color: #e3dfd5; font-size: 14px ;}